<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>futer</title>
</head>
<body data-th-fragment="futer">
	<div class="d-flex bg-black text-white">
		<div class="p-2 bg-black text-white">
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-black text-white"><h4>FACULTAD DE INGENIERIA - UNJu</h4></li>
				<li class="list-group-item bg-black text-white"><p>Direccion: Ítalo Palanca Nº 10</p>
				<p>Telefono: 0388 422-1580</p>
				<p>Email: info@fi.unju.edu.ar</p></li>
			</ul>
		</div>
		<div class="p-2">
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-black text-white"><h4>Redes Sociales</h4></li>
				<li class="list-group-item bg-black"><p><a class="link-primary link-underline link-underline-opacity-0" href="#">Facebook</a></p>
				<p><a class="link-danger link-underline link-underline-opacity-0" href="#">YouTube</a></p>
				<p><a class="link-info link-underline link-underline-opacity-0" href="#">LinkedIn</a></p>
				<p><a class="link-warning link-underline link-underline-opacity-0" href="#">Instagram</a></p></li>
			</ul>
		</div>
		<div class="p-2">
			<h4>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</h4>
		</div>
	</div>
</body>
</html>