<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>asidde</title>
</head>
<body data-th-fragment="asidde">
	<div class="p-2 bg-primary-subtle text-primary-emphasis">
		<h3>Recursos Adicionales</h3><br>
		<div class="d-flex flex-column">
			<a class="p-2" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html" target="_blank"> <img alt="Error Cargando Imagen" src="images/biblioteca.png"></a><br>
			<a class="p-2" href="https://campus.fi.unju.edu.ar" target="_blank"> <img alt="Error Cargando Imagen" src="images/campus_fi.png"></a><br>
			<a class="p-2" href="https://www.fi.unju.edu.ar/siu-guarani-alumnos" target="_blank"> <img alt="Error Cargando Imagen" src="images/siu_guarani.png"></a><br>
		</div>
	</div>
</body>
</html>