<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="#" data-th-href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}">	
	<title>TP4</title>
<!-- 	Intente usar thymeleaf pero me daba error no importara lo que hacia -->
</head>
<body>
	<header>
		<div>
			<nav class="navbar bg-body-tertiary bg-info-subtle">
  				<div class="container-fluid">
    				<a class="navbar-brand text-info-emphasis fw-bolder" href="https://www.fi.unju.edu.ar">
     				<img src="images/logo.png" alt="Logo" width="60" height="54" class="d-inline-block align-text-middle">
      				Facultad de Ingenieria UNJu - 52 Años Educando
    				</a>
  				</div>
			</nav>
		</div>
		<div>
			<nav class="navbar navbar-expand-lg bg-body-tertiary bg-info-subtle">
  				<div class="container-fluid">
    				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      					<div class="navbar-nav">
        					<a class="nav-link fw-bolder text-info-emphasis" href="#inicio">Inicio</a>
        					<a class="nav-link fw-bolder text-info-emphasis" href="#acerca">Acerca de</a>
        					<a class="nav-link fw-bolder text-info-emphasis" href="#carreras">Carreras</a>
        					<a class="nav-link fw-bolder text-info-emphasis" href="#noticias">Noticias</a>
        					<a class="nav-link fw-bolder text-info-emphasis" href="#contacto">Contacto</a>
      					</div>
    				</div>
  				</div>
			</nav>
		</div>
	</header>
	<div class="d-flex">
		<main class="p-2 flex-grow-1 bg-dark text-white">
			<div id="inicio">
				<h1>Facultad de Ingenieria</h1><br>
				<p class="fw-medium">Una facultad, fundada el 24 de mayo de 1972, con accesibilidad a carreras de pregrado, grado y posgrado</p>
			</div>
			<div id="acerca">
				<p class="fw-medium">Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de Ingeniería, 
				tienden a ampliar el área de influencia y a fortalecer su acción institucional, en respuesta a la demanda 
				social creciente de formación de recursos humanos que contribuyan al desarrollo científico, tecnológico y cultural</p>
				<p class="fw-medium">De esta forma, la Facultad se constituyó en vector de desarrollo de la provincia, por cuanto:</p>
				<ul class="list-group">
					<li class="list-group-item bg-dark text-white">Posibilita acceder a títulos universitarios a jóvenes 
					cuya situación económica les impide estudiar fuera de la provincia.</li>
					<li class="list-group-item bg-dark text-white">Provee de profesionales de la Ingeniería a las industrias radicadas en la provincia 
					y de profesionales competentes a las diversas reparticiones del estado provincial</li>
					<li class="list-group-item bg-dark text-white">Incorpora a la sociedad profesionales aptos para generar emprendimientos de distinta índole</li>
				</ul><br>
			</div>
			<div id="carreras">
				<h2>Carreras</h2><br>
				<h3>Carreras de grado:</h3>
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item bg-dark text-white flex-fill">Ingenieria Quimica</li>
					<li class="list-group-item bg-dark text-white flex-fill">Ingenieria de Minas</li>
					<li class="list-group-item bg-dark text-white flex-fill">Ingenieria Informatica</li>
				</ul><br>
				<h3>Carreras de pregrado:</h3>
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item bg-dark text-white flex-fill">Analista Programador Universitario</li>
					<li class="list-group-item bg-dark text-white flex-fill">Tecnicatura Universitaria en Diseño Integral de Videojuegos</li>
					<li class="list-group-item bg-dark text-white flex-fill">Tecnicatura Universitaria en Perforaciones</li>
				</ul><br>
				<a class="btn btn-outline-info d-flex p-2 justify-content-center fw-bolder" role="button" href="https://www.fi.unju.edu.ar">Mas Informacion</a>
			</div>
			<div id="noticias">
				<h2>Noticias</h2>
				<div class="d-flex">
					<img class="p-2" src="images/vacunacion.png" alt="Error Cargando Imagen">
					<p class="p-2 align-self-center fw-medium">El día 29 de mayo del corriente, en el Aula Pelayo Pena de la Escuela de Minas "Dr. Horacio Carrillo" de la UNJu, 
					se realizará una Jornada de Vacunación destinada a Estudiantes, Personal Docentes y No Docente de la Universidad Nacional de Jujuy, 
					en el horario de 09:00 a 15:30 horas</p>
				</div>
			</div>
		</main>
		<aside class="p-2 bg-primary-subtle text-primary-emphasis">
			<h3>Recursos Adicionales</h3><br>
			<div class="d-flex flex-column">
				<a class="p-2" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html" target="_blank"> <img alt="Error Cargando Imagen" src="images/biblioteca.png"></a><br>
				<a class="p-2" href="https://campus.fi.unju.edu.ar" target="_blank"> <img alt="Error Cargando Imagen" src="images/campus_fi.png"></a><br>
				<a class="p-2" href="https://www.fi.unju.edu.ar/siu-guarani-alumnos" target="_blank"> <img alt="Error Cargando Imagen" src="images/siu_guarani.png"></a><br>
			</div>
		</aside>
	</div>
	<footer id="contacto" class="d-flex bg-black text-white">
		<div class="p-2 bg-black text-white">
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-black text-white"><h4>FACULTAD DE INGENIERIA - UNJu</h4></li>
				<li class="list-group-item bg-black text-white"><p>Direccion: Ítalo Palanca Nº 10</p>
				<p>Telefono: 0388 422-1580</p>
				<p>Email: info@fi.unju.edu.ar</p></li>
			</ul>
		</div>
		<div class="p-2">
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-black text-white"><h4>Redes Sociales</h4></li>
				<li class="list-group-item bg-black"><p><a class="link-primary link-underline link-underline-opacity-0" href="#">Facebook</a></p>
				<p><a class="link-danger link-underline link-underline-opacity-0" href="#">YouTube</a></p>
				<p><a class="link-info link-underline link-underline-opacity-0" href="#">LinkedIn</a></p>
				<p><a class="link-warning link-underline link-underline-opacity-0" href="#">Instagram</a></p></li>
			</ul>
		</div>
		<div class="p-2">
			<h4>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</h4>
		</div>
	</footer>
	<script data-th-src="@{webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>