<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="#" data-th-href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TP4</title>
</head>
<body>
	<header data-th-replace="~{fragments/navbar :: navbar}"></header>
	<div class="d-flex">
		<main class="p-2 flex-grow-1 bg-dark text-white">
			<div id="inicio">
				<h1>Facultad de Ingenieria</h1><br>
				<p class="fw-medium">Una facultad, fundada el 24 de mayo de 1972, con accesibilidad a carreras de pregrado, grado y posgrado</p>
			</div>
			<div id="acerca">
				<p class="fw-medium">Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de Ingeniería, 
				tienden a ampliar el área de influencia y a fortalecer su acción institucional, en respuesta a la demanda 
				social creciente de formación de recursos humanos que contribuyan al desarrollo científico, tecnológico y cultural</p>
				<p class="fw-medium">De esta forma, la Facultad se constituyó en vector de desarrollo de la provincia, por cuanto:</p>
				<ul class="list-group">
					<li class="list-group-item bg-dark text-white">Posibilita acceder a títulos universitarios a jóvenes 
					cuya situación económica les impide estudiar fuera de la provincia.</li>
					<li class="list-group-item bg-dark text-white">Provee de profesionales de la Ingeniería a las industrias radicadas en la provincia 
					y de profesionales competentes a las diversas reparticiones del estado provincial</li>
					<li class="list-group-item bg-dark text-white">Incorpora a la sociedad profesionales aptos para generar emprendimientos de distinta índole</li>
				</ul><br>
			</div>
			<div id="carreras">
				<h2>Carreras</h2><br>
				<h3>Carreras de grado:</h3>
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item bg-dark text-white flex-fill">Ingenieria Quimica</li>
					<li class="list-group-item bg-dark text-white flex-fill">Ingenieria de Minas</li>
					<li class="list-group-item bg-dark text-white flex-fill">Ingenieria Informatica</li>
				</ul><br>
				<h3>Carreras de pregrado:</h3>
				<ul class="list-group list-group-horizontal">
					<li class="list-group-item bg-dark text-white flex-fill">Analista Programador Universitario</li>
					<li class="list-group-item bg-dark text-white flex-fill">Tecnicatura Universitaria en Diseño Integral de Videojuegos</li>
					<li class="list-group-item bg-dark text-white flex-fill">Tecnicatura Universitaria en Perforaciones</li>
				</ul><br>
				<a class="btn btn-outline-info d-flex p-2 justify-content-center fw-bolder" role="button" href="https://www.fi.unju.edu.ar">Mas Informacion</a>
			</div>
			<div id="noticias">
				<h2>Noticias</h2>
				<div class="d-flex">
					<img class="p-2" src="images/vacunacion.png" alt="Error Cargando Imagen">
					<p class="p-2 align-self-center fw-medium">El día 29 de mayo del corriente, en el Aula Pelayo Pena de la Escuela de Minas "Dr. Horacio Carrillo" de la UNJu, 
					se realizará una Jornada de Vacunación destinada a Estudiantes, Personal Docentes y No Docente de la Universidad Nacional de Jujuy, 
					en el horario de 09:00 a 15:30 horas</p>
				</div>
			</div>
		</main>
		<aside data-th-replace="~{fragments/pageSide :: asidde}"></aside>
	</div>
	<footer id="contacto" data-th-replace="~{fragments/pageEnd :: futer}"></footer>
	<script data-th-src="@{webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>